@page
@model WEDNESDAY1.Pages.EMPLOYEES.IndexModel
@{
}

<h1> RESTAURANTS  </h1>

<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">


    @foreach (var emp in Model.e)
    {
        var path = "~/image/" + emp.path;



        <div class="header">
            <h1> @emp.name </h1>

        </div>

        <img class="imageThumbnail" src="@path" asp-append-version="true" />

        <div class="card-footer text-center">
            <a asp-page="/RESTAURANT/viewrazorpage" asp-route-Name="@emp.name" asp-route-id="@emp.id" class="btn btn-primary m-1">View</a>
            <a href="#" class="btn btn-primary m-1">Edit</a>
            <a href="#" class="btn btn-danger m-1">Delete</a>
        </div>
    


    }

</div>
